#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

override_dh_auto_configure:
	dh_auto_configure

override_dh_makeclilibs:
	dh_makeclilibs -m 1.0.7

override_dh_clideps:
	dh_clideps --exclude-moduleref=gstreamer-1.0 \
		--exclude-moduleref=gstvideo-1.0 \
		--exclude-moduleref=gstaudio-1.0 \
		--exclude-moduleref=gobject-2.0 \
		--exclude-moduleref=libgstglue-1.0.so

# Disable makeshlibs
override_dh_makeshlibs:

# Disable tests to workaround ftbfs until BDO #638337 is fixed
override_dh_auto_test:

%:
	dh $@ --with cli
